#map-navigator-container {
  flex-grow: 1;
  width: 100%;
  height: 100%; /* ทำให้แผนที่ยืดเต็มพื้นที่ที่ได้รับ */
  border-radius: 15px;
  overflow: hidden;
}

/* Custom styles for the pulsing marker */
.current-location-marker .leaflet-marker-icon {
  filter: drop-shadow(0 0 5px rgba(79, 70, 229, 0.7));
  animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Hide the default routing UI */
.leaflet-routing-container {
  display: none; 
}

/* Custom styles for the angle SVG */
.angle-arrow {
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-in-out;
}